@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-white text-gray-900;
		font-family:
			'Inter',
			system-ui,
			-apple-system,
			sans-serif;
	}
}

@layer utilities {
	.canvas-cursor-grab {
		cursor: grab;
	}
	.canvas-cursor-grabbing {
		cursor: grabbing;
	}
	.canvas-cursor-crosshair {
		cursor: crosshair;
	}
}
