@import 'tailwindcss';

@font-face {
	font-family: 'CoralPixels';
	src: url('/fonts/CoralPixels-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'FusionPixelLat';
	src: url('/fonts/fusion-pixel-12px-monospaced-latin.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'FusionPixelZh';
	src: url('/fonts/fusion-pixel-12px-monospaced-zh_hans.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

html {
	font-family: 'FusionPixelLat';
}

/* Custom pixel cursors */
* {
	cursor:
		url('/cursors/default.svg') 0 0,
		auto;
}

button,
button *,
a,
a *,
[role='button'],
[role='button'] *,
input[type='submit'],
input[type='button'],
select,
.cursor-pointer,
label[for] {
	cursor:
		url('/cursors/pointer.svg') 0 0,
		pointer;
}

/* Input cursor for text inputs */
input[type='text'],
input[type='email'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='url'],
input[type='number'],
textarea {
	cursor:
		url('/cursors/input.svg') 8 8,
		text;
}

input[type='text']:hover,
input[type='email']:hover,
input[type='password']:hover,
input[type='search']:hover,
input[type='tel']:hover,
input[type='url']:hover,
input[type='number']:hover,
textarea:hover,
input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='url']:focus,
input[type='number']:focus,
textarea:focus {
	cursor:
		url('/cursors/input.svg') 8 8,
		text;
}

/* Grab cursor for draggable elements */
.cursor-grab,
.cursor-grab * {
	cursor:
		url('/cursors/grab.svg') 8 8,
		grab !important;
}

.cursor-grabbing,
.cursor-grabbing * {
	cursor:
		url('/cursors/grab.svg') 8 8,
		grabbing !important;
}

/* Ensure disabled elements use default cursor */
button:disabled,
a.disabled,
[disabled] {
	cursor:
		url('/cursors/default.svg') 0 0,
		not-allowed;
}

/* Dark mode styles */
:root {
	color-scheme: light;
}

:root.dark {
	color-scheme: dark;
}

/* Override default colors for dark mode */
.dark {
	@apply bg-gray-900 text-gray-100;
}

.dark .bg-white {
	@apply bg-gray-800;
}

.dark .bg-gray-50 {
	@apply bg-gray-900;
}

.dark .bg-gray-100 {
	@apply bg-gray-800;
}

.dark .border-gray-200 {
	@apply border-gray-700;
}

.dark .text-gray-900 {
	@apply text-gray-100;
}

.dark .text-gray-700 {
	@apply text-gray-300;
}

.dark .text-gray-600 {
	@apply text-gray-400;
}

.dark .text-gray-500 {
	@apply text-gray-500;
}

.dark .hover\:bg-gray-100:hover {
	@apply bg-gray-700;
}

.dark .hover\:bg-gray-50:hover {
	@apply bg-gray-800;
}
